doctype html
html
	head
		title Growl testing
		//- link(rel='stylesheet', href='stylesheets/style.css')
		//- link(rel='stylesheet', href='stylesheets/igrowl.css')
		//- link(rel='stylesheet', href='stylesheets/animate.css')
		//- link(rel='stylesheet', href='stylesheets/icomoon.css')
		//- link(rel='stylesheet', href='stylesheets/prism.css')

		link(rel='stylesheet', href='stylesheets/all.min.css')
		
		link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,900italic,700italic' rel='stylesheet' type='text/css')
			
		//- link(rel='stylesheet', href='stylesheets/icomoon/feather.css')
		//- link(rel='stylesheet', href='stylesheets/icomoon/linecons.css')
		//- link(rel='stylesheet', href='stylesheets/icomoon/steadysets.css')
		//- link(rel='stylesheet', href='stylesheets/icomoon/vicons.css')
		link(rel='stylesheet', href='stylesheets/icomoon/icon.min.css')


	body
		block content
	


	//- script(src="javascripts/jquery.js", type="text/javascript")
	//- script(src="javascripts/bootstrap.min.js", type="text/javascript")
	//- script(src="javascripts/prism.js", type="text/javascript")
	//- script(src="javascripts/jquery.selectric.min.js", type="text/javascript")
	//- script(src="javascripts/serializer.js", type="text/javascript")

	//- script(src="javascripts/main.js", type="text/javascript")
	script(src="javascripts/all.min.js", type="text/javascript")
	//- script(src="javascripts/igrowl.js", type="text/javascript")