@font-face {
	font-family: 'interface-icons';
	src:url('/fonts/interface/interface-icons.eot?-mt7dum');
	src:url('/fonts/interface/interface-icons.eot?#iefix-mt7dum') format('embedded-opentype'),
		url('/fonts/interface/interface-icons.woff?-mt7dum') format('woff'),
		url('/fonts/interface/interface-icons.ttf?-mt7dum') format('truetype'),
		url('/fonts/interface/interface-icons.svg?-mt7dum#interface-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'interface-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-rendering: optimizeLegibility;
}

.ico-arrow-up-left:before {
	content: "\e608";
}
.ico-arrow-up:before {
	content: "\e609";
}
.ico-arrow-up-right:before {
	content: "\e60a";
}
.ico-arrow-down-right:before {
	content: "\e60b";
}
.ico-arrow-down:before {
	content: "\e60c";
}
.ico-arrow-down-left:before {
	content: "\e60d";
}
.ico-arrow-up-left2:before {
	content: "\e60e";
}
.ico-arrow-up2:before {
	content: "\e60f";
}
.ico-arrow-up-right2:before {
	content: "\e610";
}
.ico-arrow-down-right2:before {
	content: "\e611";
}
.ico-arrow-down2:before {
	content: "\e612";
}
.ico-arrow-down-left2:before {
	content: "\e613";
}
.ico-chevron-down:before {
	content: "\f0a3";
}
.ico-chevron-up:before {
	content: "\f0a2";
}
.ico-mark-github:before {
	content: "\f00a";
}
.ico-octoface:before {
	content: "\f008";
}
.ico-download:before {
	content: "\e605";
}
.ico-install:before {
	content: "\e606";
}
.ico-arrow-down3:before {
	content: "\e600";
}
.ico-arrow-up3:before {
	content: "\e601";
}
.ico-github:before {
	content: "\e602";
}
.ico-download2:before {
	content: "\e607";
}
.ico-social-github:before {
	content: "\e603";
}
.ico-social-github-circular:before {
	content: "\e604";
}
